html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EEEEDD;
  font-family: Arial, Helvetica, sans-serif;

}
.container {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navigation {
  width: inherit;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#main {
  display: block;
  height: inherit;
  padding: 20px;
}

#about {
  display: block;
  height: inherit;
  padding: 20px;
}

#title {
  font-weight: bold;
  font-size: 20pt;
}

#title:hover {
  cursor: pointer;
}

.nav-children {
  display: flex;
  padding: 20px;
}

a {
  text-decoration: none;
  color: rgb(150, 150, 150);
}

.nav-links {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: rgb(150, 150, 150);
}

.nav-links:hover {
  cursor: pointer;
  color: black;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#virtual-assistant {
  height: 800px;
  width: 250px;
  z-index: 10;
  background-color: white;
  float: right;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
  flex-direction: column;
  display: flex;
}

#virtual-assistant-header {
  height: 50px;
  width: inherit;
  background-color: #665555;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
}

#virtual-assistant-type {
  height: 50px;
  width: inherit;
  color: white;
  display: flex;
  align-items: center;
  border-top: 1px solid grey;
}

#chat {
  display: flex;
  height: 230px;
  width: inherit;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: rosybrown;
}

.flip-card-back {
  background-color: darksalmon;
  color: white;
  transform: rotateY(180deg);
}

#title-text {
  color: black;
}

.black {
  color: black !important;
}

