html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EEEEDD;
  font-family: Arial, Helvetica, sans-serif;

}
.container {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navigation {
  width: inherit;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#main {
  display: block;
  height: inherit;
  padding: 20px;
}

#about {
  display: block;
  height: inherit;
  padding: 20px;
}

#title {
  font-weight: bold;
  font-size: 20pt;
}

#title:hover {
  cursor: pointer;
}

.nav-children {
  display: flex;
  padding: 20px;
}

a {
  text-decoration: none;
  color: rgb(150, 150, 150);
}

a:hover {
  color: black;
}

.nav-links {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: rgb(150, 150, 150);
}

.nav-links:hover {
  cursor: pointer;
  color: black;
}

#virtual-assistant {
  width: 250px;
  z-index: 10;
  background-color: white;
  float: right;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
  flex-direction: column;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 40px;
}

#clear {
  clear: both;
}

#virtual-assistant-header {
  height: 50px;
  width: inherit;
  background-color: #665555;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
}

#virtual-assistant-type {
  height: 50px;
  width: inherit;
  color: white;
  display: flex;
  align-items: center;
  border-top: 1px solid grey;
  display: flex;
  justify-content: right;
}

#chat {
  display: flex;
  height: 230px;
  width: inherit;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; 
  padding: 10px;
  display: flex;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background-color: white;
  color: rosybrown;
}

.flip-card-back {
  background-color: darksalmon;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-text {
  color: black;
}

.black {
  color: black !important;
}

/* Dropdown Button */
.dropbtn {
  background-color: #f7d888;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f7d888;}

#icon {
  display: flex;
  margin-right: 10px;
}

#icon:hover {
  cursor: pointer;
}

.columns {
  display: flex;
}